.locationform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 100%;
  justify-content: space-evenly;
  margin-block-start: 0;
}

.locationform-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.locationform-elements label {
    font-size: 2rem;
    margin-bottom: 5px;
}

.locationform-elements input[type="text"] {
    padding: 1rem;
    border-radius: .75rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    margin-block: 0.5rem 1rem;
    font-size: 1.6rem;
    color: white;
}

.locationform-elements input[type="text"]:-webkit-autofill {
  content: ''; /* Empty content */
  display: block; /* Make it a block element */
  background-color: transparent; /* Set the desired background color */
}

.locationform-elements input[type="submit"]{
    padding: 0.8rem 1.4rem;
    font-size: 2rem;
    border-radius: .75rem;
    border: none;
    background-color: #319795;
    color: #fff;
}

.locationform-elements input[type="submit"]:hover{
    background-color: #057472;
}

.error {
    color:red;
    margin-top: 10px;
}

.instructions {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    color: rgb(255 255 255 / .5);
}